*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --body-color: #efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

*, *::before, *::after{
  box-sizing: border-box;
}
body{
  background: var(--body-color);
  transition: background .3s;
}
.dark-theme{
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
  --text-color: #fff;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}